<link href="/css/normalize.css" media="screen, projection" rel="stylesheet" type="text/css">
<!--<link href="/css/skeleton.css" media="screen, projection" rel="stylesheet" type="text/css">-->
<link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">

<link href="/css/custom.css" media="screen, projection" rel="stylesheet" type="text/css">
<link href="/css/layout.css" media="screen, projection" rel="stylesheet" type="text/css">
<link href="/css/masonry_component.css" media="screen, projection" rel="stylesheet" type="text/css">
<link href="/css/fancybox/jquery.fancybox.css" media="screen, projection" rel="stylesheet" type="text/css">

<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
<!--<![endif]-->
        
<!--[if lte IE 8]>
    <link rel="stylesheet" href="css/layouts/gallery-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/css/gallery/gallery.css">
<!--<![endif]-->

<script src="/javascripts/jquery-1.10.2.min.js"></script>
<script src="/javascripts/modernizr.custom.js"></script>
<script src="/javascripts/imagesloaded.pkgd.min.js"></script>
<script src="/javascripts/classie.js"></script>
<script src="/javascripts/AnimOnScroll.js"></script>
<script src="/javascripts/masonry.pkgd.min.js"></script>